<div class="container">
  <form>
    <h3>Acesso exclusivo para membros</h3>
    <div class="row">
      <div>
        <label for="usuario">Usuário</label>
      </div>
      <div class="input-div">
        <input type="text" id="usuario" name="usuario" placeholder="Digite seu nome de usuário...">
      </div>
    </div>
    <div class="row">
      <div>
        <label for="senha">Senha</label>
      </div>
      <div class="input-div">
        <input type="password" id="senha" name="senha" placeholder="Digite sua senha..">
      </div>
    </div>
 
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div> 