<div id="banner">
	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
				aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
				aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
				aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="./assets/img/banner1.png" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="./assets/img/banner2.png" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="./assets/img/banner3.png" class="d-block w-100" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
			data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
			data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
<div id="cards">
   <section id="section-vendidos" class="container">

      <div class="row">

         <h2>OS MAIS VENDIDOS</h2>

         <div class="col-4">
            <div class="card">
               <img src="./assets/img/jogo1.jpeg" alt="Start the journey">
               <div class="card-body">
                  <h5 class="card-title">Sokyaa's Journey</h5>
                  <p class="card-text"> An animal adventurer </p>
                  <p>R$ 250,00</p>
                  <a href="#" class="btn btn-primary">Comprar</a>
               </div>
            </div>
         </div>

         <div class="col-4">
            <div class="card">
               <img src="./assets/img/jogo2.jpeg" alt="The big journey ever">
               <div class="card-body">
                  <h5 class="card-title">Sokyaa's Journey</h5>
                  <p class="card-text"> An animal adventurer </p>
                  <p>R$ 250,00</p>
                  <a href="#" class="btn btn-primary">Comprar</a>
               </div>
            </div>
         </div>


         <div class="col-4">
            <div class="card">
               <img src="./assets/img/jogo3.jpeg" alt=" An animal adventurer">
               <div class="card-body">
                  <h5 class="card-title">Sokyaa's Journey</h5>
                  <p class="card-text"> An animal adventurer </p>
                  <p>R$ 250,00</p>
                  <a href="#" class="btn btn-primary">Comprar</a>
               </div>
            </div>
         </div>

         <div class="col-4">
            <div class="card">
               <img src="./assets/img/jogo4.jpeg" alt="Sokyaa's Journey">
               <div class="card-body">
                  <h5 class="card-title">Sokyaa's Journey</h5>
                  <p class="card-text"> An animal adventurer </p>
                  <p>R$ 250,00</p>
                  <a href="#" class="btn btn-primary">Comprar</a>
               </div>
            </div>
         </div>

         <div class="col-4">
            <div class="card">
               <img src="./assets/img/jogo5.jpeg" alt="Apex Legends: Battle for the Forgotten Realm">
               <div class="card-body">
                  <h5 class="card-title"> Apex Legends: Battle for the Forgotten Realm </h5>
                  <p class="card-text"> Explore vast galaxies, forge alliances </p>
                  <p>R$ 350,00</p>
                  <a href="#" class="btn btn-primary">Comprar</a>
               </div>
            </div>
         </div>

         <div class="col-4">
            <div class="card">
               <img src="./assets/img/jogo6.jpeg" alt="Shadow of Eternity: Chronicles of the Lost Kingdom">
               <div class="card-body">
                  <h5 class="card-title"> Shadow of Eternity: Chronicles of the Lost Kingdom </h5>
                  <p class="card-text"> Embark on a dark and immersive journey through a mystical </p>
                  <p>R$ 450,00</p>
                  <a href="#" class="btn btn-primary">Comprar</a>
               </div>
            </div>
         </div>



      </div>

   </section>
</div>
<h1 id="releases">Lançamentos:</h1>
<mat-grid-list cols="3">

   <mat-grid-tile>
      <div class="card">
         <img src="./assets/img/jogo7.jpeg" alt="Galactic Conquest">
         <div class="card-body">
            <h5 class="card-title"> Galactic Conquest: Stelar warfare </h5>
            <p class="card-text"> Embark on a dark and immersive journey through a mystical </p>
            <p>R$ 450,00</p>
            <a href="#" class="btn btn-primary">Comprar</a>
         </div>
      </div>
   </mat-grid-tile>
     
   <mat-grid-tile>
      <div class="card">
         <img src="./assets/img/jogo8.jpeg" alt="Chrono Shift: The time band adventure ">
         <div class="card-body">
            <h5 class="card-title">Chrono Shift: The time band adventure </h5>
            <p class="card-text"> Embark on a dark and immersive journey through a mystical </p>
            <p>R$ 450,00</p>
            <a href="#" class="btn btn-primary">Comprar</a>
         </div>
      </div>
   </mat-grid-tile>

   <mat-grid-tile>
      <div class="card">
         <img src="./assets/img/jogo9.jpeg" alt="ChronoShift: The time band adventure">
         <div class="card-body">
            <h5 class="card-title"> ChronoShift: The time band adventure </h5>
            <p class="card-text"> Embark on a dark and immersive journey through a mystical </p>
            <p>R$ 450,00</p>
            <a href="#" class="btn btn-primary">Comprar</a>
         </div>
      </div>
   </mat-grid-tile>